<?xml version="1.0" encoding="UTF-8"?>

<beans:beans xmlns="http://www.springframework.org/schema/security"  
     xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
     xmlns:security="http://www.springframework.org/schema/security"
     xsi:schemaLocation="http://www.springframework.org/schema/beans  
     http://www.springframework.org/schema/beans/spring-beans-4.0.xsd 
      http://www.springframework.org/schema/context
 http://www.springframework.org/schema/context/spring-context-4.0.xsd 
     http://www.springframework.org/schema/security  
     http://www.springframework.org/schema/security/spring-security-4.0.xsd">  
 

      <http auto-config="true">
<intercept-url pattern="/" access="permitAll"/>
<intercept-url pattern="/add" access="hasRole('ROLE_ADMIN')"/>
<!--  <intercept-url pattern="/ViewAll" access="hasRole('ROLE_USER')"/>-->
<form-login login-page="/Login" default-target-url="/" username-parameter="j_username" password-parameter="j_password" 

login-processing-url="/j_spring_security_check"
       authentication-failure-url="/login?authfailed" />
      <csrf disabled="true"/>
</http>
<authentication-manager>
<authentication-provider>
<jdbc-user-service
data-source-ref="dataSource"
users-by-username-query="select username,password,enabled from USER_AUTHENTICATION  where username=?"
authorities-by-username-query="select u1.username, u2.role from USER_AUTHENTICATION  u1,  USER_AUTHORIZATION  u2 where 

u1.userid = u2.userid and u1.username=?" />
</authentication-provider>
</authentication-manager>
</beans:beans>  
